<h2>Gerenciar Administradores</h2>
<hr>
<a href="/admin/usuarios/addadministrador"><button class="btn btn-success">Adicionar Administrador</button></a>
{{#each administradores}}
    <div class="card mt-4">
        <div class="card-body">
            <h5>{{nome}}</h5>
            <p>CPF: {{cpf}}</p>
            <p>Email: {{email}}</p>
            <p>Telefone: {{telefone}}</p>
            <p>Endereço: {{endereco}}</p>
            <p>Data de criação: {{date}}</p>       
            <a href="/admin/usuarios/editadministrador/{{id}}"><button class="btn btn-warning">Editar</button></a>
            <form action="/admin/usuarios/deleteadministrador/{{id}}" method="POST" class="mt-4">
                <button class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
{{else}}    
{{/each}}