<h2>Gerenciar Clientes</h2>
<hr>
<a href="/admin/usuarios/addfuncionario"><button class="btn btn-success">Adicionar Funcionario</button></a>
<a href="/admin/usuarios/addadministrador"><button class="btn btn-success">Adicionar Administrador</button></a>
{{#each clientes}}
    <div class="card mt-4">
        <div class="card-body">
            <h5>{{nome}}</h5>
            <p>CPF: {{cpf}}</p>
            <p>Email: {{email}}</p>
            <p>Telefone: {{telefone}}</p>
            <p ste>Carteira: {{carteira.saldo}}</p>
             <p>Data de criação: {{date}}</p>          
            <a href="/admin/usuarios/editcliente/{{_id}}"><button class="btn btn-warning">Editar</button></a>
            <form action="/admin/usuarios/deletecliente/{{_id}}" method="POST" class="mt-4">
                <button class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
{{else}} 
    <h5 class="mt-4"> Nenhum cliente cadastrado</h5>   
{{/each}}
