<h2>Gerenciar Clientes</h2>
<hr>
<a href="/admin/usuarios/addfuncionario"><button class="btn btn-success">Adicionar Funcionario</button></a>
<a href="/admin/usuarios/addadministrador"><button class="btn btn-success">Adicionar Administrador</button></a>
{{#each clientes}}
    <div class="card mt-4">
        <div class="card-body">
            <h5>{{nome}}</h5>
            <p>CPF: {{cpf}}</p>
            <p>Email: {{email}}</p>
            <p>Telefone: {{telefone}}</p>
            <p>Carteira: {{Carteira}}</p>
            <p>Tipo: Cliente</p>
             <p>Data de criação: {{date}}</p>          
            <a href="/admin/produto/editar/{{id}}"><button class="btn btn-warning">Editar</button></a>
            <a href="/admin/produto/deletar/{{id}}"><button class="btn btn-danger">Deletar</button></a>
        </div>
    </div>
{{else}}    
{{/each}}
