<div  style= "text-align:right;" >
    <a href="/admin"> <img src="/img/voltar.png" width="50px"> </a>
</div>

<hr>
<form action="/admin/relatorio" method="POST">
    <label for="filtro">Filtrar por:</label>
        <select name="filtro" class="custom-select mt-2 form-control w-25" onchange="this.form.submit()">
            <option value="none">Nenhum</option>
            <option value="data">Data</option>
            <option value="nome">Nome</option>
            <option value="valor">Valor</option>
    </select>
</form>
{{#each vendas}}
    <div class="card mt-4">
        <div class="card-body">
            <h5>Valor da venda:R$ {{valor}}</h5>
            <p>Cliente: {{cliente.nome}}</p>
            {{#if funcionario.nome}}
            <p>Funcionário: {{funcionario.nome}}</p>
            {{else}}
            <p>Funcionário: Conta admin {{funcionario}}</p>
            {{/if}}
            <p>Data: {{horario}}</p>
            {{#if suco}}
                <p>Suco: Sim</p> 
            {{/if}}
            {{#if refrigerante}}      
                <p>Refrigerante: Sim</p>
            {{/if}}
            {{#if agua}}
                <p>Água: Sim</p>
            {{/if}}            

        </div>

    </div>

{{/each}}