{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h2> <img src="/img/taxa.png" width="50px"> Atualizar Taxa</h2>

<div  style= "text-align:right;" >
    <a href="/admin"> <img src="/img/voltar.png" width="50px"> </a>
</div>

<form action="/admin/taxa/nova" method="POST">
    <div class="card mx-auto" style="width: 20rem;">
        <div class="card-body">
            {{#each taxas}}
            <label for="taxa">Nova taxa:</label>
                <input type="number" step="0.01" name="taxa" id="taxa" class="form-control w-50" value="{{taxa}}">
            <label for="refrigerante">Novo valor para refrigerante</label>
                <input type="number" step="0.01" name="refri" id="refri" class="form-control w-50"  value="{{refrigerante}}">
            <label for="suco">Novo valor para suco</label>
                <input type="number" step="0.01" name="suco" id="suco" class="form-control w-50" value="{{suco}}">
            <label for="agua">Novo valor para água</label>
                <input type="number" step="0.01" name="agua" id="agua" class="form-control w-50" value="{{agua}}">
            {{else}}
            {{/each}}    
            <button class="btn btn-success mt-4">Atualizar</button>
        </div>
    </div>
    
</form>


